<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1> <a href="{{ path }}index.php">WEB</a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Manifestant</a>

<ul class="dropdown">
    <li><a href="{{ path('manifestant.show') }}">afficher/editer/supprimer les Manifestations</a></li>
</ul>
</li>

</ul>
<ul class="has-dropdown">
            <li class="has-dropdown"><a href="#">Manifestations</a>
                <ul class="dropdown">
                    <li><a href="{{ path('manifestant.add') }}"> créer un Type de Manifestant </a></li>
                    <li><a href="{{ path('manifestant.show') }}">afficher/editer/supprimer les Types Manifestant</a></li>
                </ul>
            </li>
</ul>
    <ul class="right">
        <ul class="right">
        <li><a href="#">Se connecter</a></li>
</ul>
</section>
</nav>