{% extends "v_layout.twig" %}
{% block contenu %}
    <div class="row">
        {% if panier is not empty %}
        <table>
            <caption>Votre Panier </caption>
            <thead>
            <tr>
                <th>Quantite </th>
                <th>Description</th>
                <th>Prix</th>
                <th> - </th>
            </tr>
            </thead>
            <tbody>
            {% for objet in panier if panier is not empty %}
            <tr>
            <td>{{ objet.quantite }}</td>
            <td> {{ objet.nom }}</td>
            <td> {{ objet.prix }}</td>
            <td>
                <a href="#"> <span class="fi-plus"> Ajouter</span></a>
                <a href="#"> <span class="fi-minus"> Supprimer </span></a>
            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Votre panier est vide. <a href="{{ url('manifestant.show') }}">Retourner faire des courses</a></p>
        {% endif %}
    </div>
{% endblock %}