{% extends "v_layout.twig" %}
{% block contenu %}
    <div class="row">
        <table>
            <caption> Votre Panier </caption>
            <thead>
            <tr>
                <th> Quantite </th>
                <th> Description</th>
                <th>Prix</th>
                <th> Modifier</th>
            </tr>
            </thead>
            <tbody>
            <td> res</td>
            <td> res2</td>
            <td> res3</td>
            <td>
                <a href="#"> <span class="fi-plus"> Ajouter</span></a>
                <a href="#"> <span class="fi-minus"> Supprimer </span></a>
            </td>
            </tbody>
        </table>
    </div>
    <div class="row">
        montant :
        <a href="#"> <span class="fi-check"> Valider </span></a>
        <a href="#"> <span class="fi-x"> Annuler </span> </a>
    </div>
{% endblock %}